[Desktop Entry]
Type=Application
Version=1.0
Name=Gra o Dron
Exec=graodron
Comment=Gra o Dron
Icon=graodron
Terminal=false
Categories=Game;ArcadeGame;
