[Desktop Entry]
Type=Application
Version=1.0
Name=Spider Disco
Exec=spiderdisco
Comment=Spider Disco
Icon=spiderdisco
Terminal=false
Categories=Game;ArcadeGame;
